@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}
.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}
header {
    padding-top: 61px;
    margin-bottom: 50px;
}
.logo {
    font-size: 80px;
    line-height: 94px;
    margin-bottom: 38px;
}

.logo-link {
    color: black;
    text-decoration: none;
}
.logo  .menu-item-a {
    text-decoration: none;
    color: #000;
}
.logo a span {
    color: #4bcaff;
}
.menu-container {
    height: 72px;
    background-color: #35444F;
}
.menu {
    text-align: center;
}
.menu-item {
    display: inline-block;
    height: 72px;
    line-height: 72px;
}
.menu-item a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    padding: 22px 39px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    transition: .3s;
}
.menu-item a:hover {
    background-color: #222F3A;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
.left-navigation-menu {
    display: inline-block;
    vertical-align: top; 
    width: 100%;
    max-width: 344px;
    border: 1px solid grey;
    margin-right: 30px;
}

.left-menu-item {
    list-style: none;
}
.left-menu-item a {
    display: block; 
    font-size: 27px;
    height: 83px;
    line-height: 81px;
    text-decoration: none;
    padding-left: 44px;
    color: #495853;
    transition: .3s;
}
.left-menu-item a:hover {
    background-color: #dbdbdb;
    padding-left: 88px;
}

article {
    display: inline-block;
}

.container {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-width: 885px;
    margin-right: 0px;
}
.img-container {
  /*  height: 529px; */
    border: 1px solid grey;
    margin-bottom: 42px;
    margin-right: 0px;
}
.img-container img {
    display: block;
    margin: auto;
    margin-top: 50px; 
}

.img-container img:hover {
    transform: scale(1.1); 
}

.text {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 25px;
}
.lower {
    background-color: rgba(99, 105, 110, 0.48);
    margin-bottom: 30px;
    padding: 0 15px;
}

.lower-menu {
    width: 100%;
    max-width: 1000px;
    display: inline-block;
}

.lower-menu-item {
    display: inline-block;
    line-height: 90px;
    height: 90px;
    margin: 0 15px;
}

.lower-menu-item a {
    font-size: 28px;
    color: #000000;
    text-decoration: none;
}

.lower p {
    display: inline-block;
    font-size: 24px;
    margin-left: 40px;
}

.lower-menu-item a:hover {
    color:#4bcaff;
    border-bottom: 4px solid #4bcaff;
    padding-bottom: 4px;
}

.copyright {
font-size: 24px;
}